* {
  padding: 0;
  margin: 0;
  background-color: rgb(30, 32, 30);
  color: white;
  font-family: monospace;
  list-style-type: none;
  text-decoration: none;
}

h1 {
  margin-bottom: 2em;
}

.main_container {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 1px solid white;
  border-radius: 25px;
  padding: 6em;
  height: 30%;
  width: 30%;
}

label {
  font-size: 1.3em;
  margin-bottom: 0.3em;
}

input {
  background-color: white;
  color: black;
  font-size: 1.7em;
  border-radius: 5px;
  padding: 0.2em;
}

button {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0.3em;
  color: black;
  cursor: pointer;
  /* background-color: rgba(255, 255, 255, 0.281); */
  background-color: grey;
  border-radius: 5px;
  font-size: 1.2em;
}
