<h1>Hola mundo!</h1>

<h2>Bienvenid@ {{first_name}} {{last_name}}</h2>

{{! //al ponerle type button lo sacamos del default (type submit) y evitamos
comportamientos indeseados }}
<button id='logoutBtn' type='button'>Cerrar sesión</button>

<script src='js/index.js'></script>