<h1>User Login</h1>

<form action='/api/sessions/login' method='post'>

  <label for=''>Email:</label>
  <input type='email' name='email' /><br /><br />

  {{! //// }}
  <label for=''>Password:</label>
  <input type='password' name='password' /><br /><br />
  <button type='submit'>Iniciar sesión</button>

  {{! boton github login }}

  <button type='button'><a href='/api/sessions/github'>Login with Github</a></button>

  {{! boton restaurar pass }}
  <button type='button'><a href='/restore-password'>Olvidaste tu contraseña?</a></button>

  {{! boton register }}
  <button type='button'><a href='/register'>Registrarse</a></button>

</form>