<h1>Restaurar contraseña</h1>

<form action='/api/sessions/restore-password' method='post'>

  {{! Email }}
  <label for=''>Email:</label>
  <input type='email' name='email' /><br /><br />

  {{! Password }}
  <label for=''>Nueva contraseña:</label>
  <input type='password' name='password' /><br /><br />

  {{! submit }}
  <button type='submit'>Restablecer contraseña</button>

</form>