<h1>Hola mundo!</h1>

<form action='/createCookie' method='post'>

  <label>
    Nombre:
  </label>
  <br />
  <br />
  <input type='text' name='nombre' />
  <br />
  <br />
  <label>
    Correo:
  </label>
  <br />
  <br />
  <input type='email' name='correo' />
  <br />
  <br />
  {{! type:button asegura de que no se envie al back }}
  <button type='button' id='getCookieBtn'>Get Cookie</button>
  <button type='submit'>Enviar</button>
</form>

<script src='js/index.js'></script>