<h1>Listado de productos en tiempo real</h1>
<div>
  <ul id='productList'>

  </ul>
</div>

{{! instancia de socket.io }}
<script src='/socket.io/socket.io.js'></script>

{{! index.js }}
<script src='js/index.js'></script>