* {
  margin: 0;
  padding: 0;
  background-color: rgb(44, 48, 56);
  /* color: white; */
  font-family: monospace;
}

form {
  padding: 1em;
  display: flex;
  flex-direction: column;
  width: 25%;
  border: 1px solid white;
  border-radius: 15px;
  background-color: rgb(62, 64, 68);
  margin: 2em;
}

input {
  background-color: white;
  height: 2.5em;
  border-radius: 15px;
  border: none;
  padding: 1em;
}

label {
  font-size: 1.3em;
  background-color: rgb(62, 64, 68);
  color: white;
}

input,
label,
button,
select {
  margin: 0.5em;
}

button {
  height: 2.5em;
  border-radius: 15px;
  width: 25%;
  border: none;
  cursor: pointer;
  font-size: 1.1em;
  color: white;
}

button:hover {
  background-color: rgb(53, 55, 58);
}

button:active {
  background-color: rgb(62, 64, 68);
  border: 1px solid white;
}

select {
  height: 2.5em;
  border-radius: 15px;
  border: none;
  padding: 0.7em;
  font-size: 1.2em;
  color: white;
}

option {
  font-size: 1.2em;
}

.button-container {
  background-color: rgb(62, 64, 68);
  text-align: center;
  margin: 0.5em;
}
